
{%- unless settings.catalog_mode -%}
  {%- liquid
    assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
    assign image = product.selected_variant.featured_media | default: product.featured_media
    assign product_title = product.title | append: ' ' | append: current_variant.title
    assign inventory_quantity = current_variant.inventory_quantity

    assign checkout_agreement = false

    if settings.checkout_agreement and block.settings.checkout_agreement
      assign checkout_agreement = true
    endif
  -%}

  <div class="prd-block-actions {{ class }}" {{ bsa }}>
<product-form class="product-form" data-form {% if block.settings.add_to_cart_ajax == false and layout == 'product' %}data-only-animation{% endif %}>
      {%- form 'product', product, id: product_form_id, class: 'form js-product-form' -%}
        {%- unless settings.catalog_mode -%}
        {%- liquid
          if current_variant.available and current_variant.inventory_management and inventory_quantity < 1
            assign pre_order = true
          endif
        -%}
        <div class="hidden" data-render="product-buy-buttons-input-hidden-{{ product_form_id }}">
          <input type="hidden" name="id" value="{{ current_variant.id }}">
          <input type="hidden" name="properties[{{ 'theme.general.status' | t }}]" value="{{ 'theme.general.pre_order' | t }}" {% unless pre_order %}disabled{% endunless %} data-form-preorder>
        </div>

        <div class="line-properties">{{ product.metafields.custom.product_line_properties }}</div>

        <div class="prd-block-actions js-sticky-add-to-cart-marker">


          {%- if show_cart_note -%}
            <div class="form-control-wrap">
              <cart-note>
                <textarea-autosize data-maxheight="87"><textarea class="form-control js-textarea-autosize" name="note" placeholder="{{ 'theme-sections.sections.cart.note' | t }}">{{ cart.note }}</textarea></textarea-autosize>
              </cart-note>
            </div>
          {%- endif -%}
          {% render 'selling-plans-picker', render: true, product: product, layout: layout, section_id: section_id, product_form_id: product_form_id %}
          {% render 'error' %}

          {%- if block.settings.wishlist -%}
            <div class="row row-with-wishlist gx-3">
              <div class="col-wishlist" data-render="wishlist-buy-buttons-{{ product_form_id }}">
                {% render 'wishlist-component-toggle-button', product: product, current_variant: current_variant, layout: 'product-buy-buttons' %}
              </div>
              <div class="col-auto">
          {%- endif -%}

              <div class="row gx-2 gx-xl-3 gy-3">
                <div class="col-12 col-sm-auto col-lg-12 col-xl-auto {% if hide_quantity == 1 %}p-0{% endif %}">
                  {% render 'quantity',
                    name: "quantity"
                    min: 1,
                    hide_quantity: hide_quantity,
                    value: 1,
                    product_title: product_title,
                    current_variant: current_variant,
                    layout: layout
                  %}
                </div>
 {% if product.tags contains 'swatch-active' %}
  
  <!-- <div class="col-auto position-relative">
    <div class="btn w-100 position-relative button--secondary">Add To Cart</div>
  </div>
 -->
  <p class="customerMessage">Please Select Variant First..</p>
{% endif %}

                  <button-animated data-pause="{{ block.settings.button_pause | plus: 0 | times: 1000 }}" data-delay-start="{{ block.settings.button_delay_start | plus: 0 | times: 1000 }}" data-delay-after-stop="15000" data-style="{{ block.settings.button_animation }}" data-render="product-buy-buttons-{{ product_form_id }}">
                    <button
                      id="product-form-add-to-cart"
                      type="submit"
                      name="add"
                      class="btn w-100 position-relative {% if show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %} {% if hide_add_to_cart %}hidden{% endif %}"
                      {% if current_variant.available == false %}disabled{% endif %}
                    >
                      <div class="loading-overlay__spinner hidden">
                        <div data-load="loading"></div>
                      </div>
                      <span>
                          {%- if current_variant.available -%}
                            {%- if current_variant.selected_selling_plan_allocation != nil or current_variant.requires_selling_plan -%}
                              {{ 'theme.general.add_subscription_to_cart' | t }}
                            {%- else -%}
                              {%- if current_variant.inventory_management and inventory_quantity < 1 -%}
                                {{ 'theme.general.pre_order' | t }}
                              {%- else -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- endif -%}
                            {%- endif -%}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                    </button>
                  </button-animated>
                              

              <form method="post" action="/cart/add">
  
  {% comment %} <div class="giftWrap">
    <input type="checkbox" id="gift-wrap" name="properties[Gift Wrap]" value="Yes">
    <label for="gift-wrap">Gift Wrap</label>
  </div> {% endcomment %}


</form>

                  
                  {%- if checkout_agreement and show_dynamic_checkout -%}
                    <info-popup data-ajax="{{ routes.root_url }}?section_id=async-agreement-info" id="js-modal-info-link-{{ section.id }}" data-selector="#agreementInfo" {% unless current_variant.available %}class="hidden"{% endunless %}><span></span></info-popup>
                  {%- endif -%}
                </div>

                {%- if show_dynamic_checkout -%}
                  <div class="col-auto {% if checkout_agreement %}shopify-payment-agree disabled{% endif %}">
                    {{ form | payment_button }}
                  </div>
                {%- endif -%}
              </div>

          {%- if block.settings.wishlist -%}
              </div>
            </div>
          {%- endif -%}

        </div>
        
        {%- if checkout_agreement and show_dynamic_checkout -%}
          <div id="prd-block-agreement" class="prd-block-agreement custom-form {% unless current_variant.available %} hidden{% endunless %}" data-agree>
            <input id="agreementCheckboxProductPage" class="js-agreement-checkbox" data-button=".shopify-payment-agree" name="agreementCheckboxProductPage" type="checkbox" {% if settings.checkout_agreement_check_by_default %}checked{% endif %}>
            <label for="agreementCheckboxProductPage"><info-popup data-ajax="{{ routes.root_url }}?section_id=async-agreement-info" data-selector="#agreementInfo"><a href="#" class="modal-info-link">{{ 'theme.general.agree_to_the_terms' | t }}</a></info-popup></label>
          </div>
        {%- endif -%}
          <div id="addToCartTarget" class="invisible"></div>
        {%- endunless -%}
      {%- endform -%}
    </product-form>

  {%- if pickup != false and settings.pickup -%}
      <div class="pickup-min-height" data-render="pickup-{{ product_form_id }}" {% if layout == 'quick-view' or layout == 'quick-options' %}data-section="{{ layout }}" data-handle="{{ product.handle }}" {% if image == blank or settings.qv_show_media == false %}data-gallery="off"{% endif %} {% if layout == 'quick-options' %}data-button-text="{{ 'theme.general.back_to_product_options' | t }}"{% endif %} data-ajax="{{ current_variant.url }}&section_id={{ layout }}"{% endif %}>
        {%- if current_variant.available -%}
          {%- assign pick_up_availabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true -%}
          <pickup-availability class="product__pickup-availabilities no-js-hidden"
            {% if current_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                              data-root-url="{{ routes.root_url }}"
                              data-variant-id="{{ current_variant.id }}"
                              data-has-only-default-variant="{{ product.has_only_default_variant }}"
          >

            <pickup-availability-preview class="pickup-availability-preview">
              {%- liquid assign closest_location = pick_up_availabilities.first -%}
              <template>
                <pickup-availability-preview class="pickup-availability-preview">
                  {% render 'icon-unavailable' %}
                  <div class="pickup-availability-info">
                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                  </div>
                </pickup-availability-preview>
              </template>
              <div class="pickup-availability-info">
              {%- if pick_up_availabilities.size > 0 -%}
                {%- if closest_location.available -%}
                  <p class="caption-large">{{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}</p>
                  <p class="caption">{{ closest_location.pick_up_time }}</p>
                  <button id="ShowPickupAvailabilityDrawer" class="pickup-availability-button link link--text underlined-link" aria-haspopup="dialog">
                    {%- if pick_up_availabilities.size == 1 -%}
                      {{ 'products.product.pickup_availability.view_store_info' | t }}
                    {%- else -%}
                      {{ 'products.product.pickup_availability.check_other_stores' | t }}
                    {%- endif -%}
                  </button>
                {%- else -%}
                  <p class="caption-large">{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}</p>
                  {%- if pick_up_availabilities.size > 1 -%}
                    <button id="ShowPickupAvailabilityDrawer" class="pickup-availability-button link link--text underlined-link" aria-haspopup="dialog">{{ 'products.product.pickup_availability.check_other_stores' | t }}</button>
                  {%- endif -%}
                {%- endif -%}
                {%- else -%}
                  <p class="caption-large">{{ 'theme.general.pickup_is_currently_unavailable_1' | t }}</p>
                  <p class="caption">{{ 'theme.general.pickup_is_currently_unavailable_2' | t }}</p>
                {%- endif -%}
              </div>
            </pickup-availability-preview>
          </pickup-availability>
        {%- endif-%}
      </div>
    {%- endif -%}
  </div>
{%- endunless -%}














{% unless template.suffix == 'sm-mist-spray' %}

<div class="pdf_brand_icon">
  <div class="brand_icon">
<ul class="flex store-info style1">
  <li class="item">
    <a class="medium-up--text-center">
      <img
        class="ad lazyloaded ctsm_hmicons"
        style="width: px"
        src="https://cdn.shopify.com/s/files/1/0672/8302/6119/files/Untitled-1-01.png?v=1732950889"
      />
      <div class="text">
        <h5>SCIENCE-BACKED</h5>
        <span class="sub-text"
          ><p>Based on Aromachology</p></span
        >
      </div></a
    >
  </li>

  <li class="item">
    <a class="medium-up--text-center"
      ><img
        class="ad ctsm_hmicons"
        style="width: px"
        src="https://cdn.shopify.com/s/files/1/0672/8302/6119/files/2-01.png?v=1732950888"
      />
      <div class="text">
        <h5>PURPOSEFUL</h5>
        <span class="sub-text"> <p>Uplift your mood</p> </span>
      </div></a
    >
  </li>
  <li class="item">
    <a class="medium-up--text-center"
      ><img
        class="ad lazyloaded ctsm_hmicons"
        style="width: px"
        src="https://cdn.shopify.com/s/files/1/0672/8302/6119/files/1-01.png?v=1732950889"
      />
      <div class="text">
        <h5>PURE</h5>
        <span class="sub-text"> <p>No harmful chemicals </p> </span>
      </div></a
    >
  </li>
  <li class="item">
    <a class="medium-up--text-center"
      ><img
        class="ad lazyloaded ctsm_hmicons"
        style="width: px"
        src="https://cdn.shopify.com/s/files/1/0672/8302/6119/files/4-01.png?v=1732950888"
      />
      <div class="text">
        <h5>WELLNESS</h5>
        <span class="sub-text"> <p>Heal your soul</p> </span>
      </div></a
    >
  </li>
</ul>
</div>
</div>




<div class="pd_page_desc">

<div class="container show-on-scroll is-visible">
        <product-tabs>
    <div class="swiper-container tab-wrap-nav swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-thumbs">
    <div class="swiper-scrollbar swiper-scrollbar-lock" style="display: none;"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 150px;"></div></div>
    <div class="swiper-wrapper" style="width: 1775px;" id="swiper-wrapper-6e61105b10c72bb8c9" aria-live="polite"><div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 1"></div></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    <div class="swiper-container tab-wrap-content product-tab-wrap swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-autoheight">
    <div class="swiper-wrapper" id="swiper-wrapper-a9e182251d856c7b" aria-live="polite" style="height: 230px;"><div class="swiper-slide swiper-slide-active" style="width: 1775px; opacity: 1; transform: translate3d(0px, 0px, 0px);" role="group" aria-label="1 / 1">
            <div class="tab-content">
            <h1 class="decription_pdfCustom">Description</h1>
            <div class="rte">{{ product.description }}</div>
            </div>
        </div></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</product-tabs>
      </div>

</div>
{% endunless %}


{% if template.suffix == 'sm-mist-spray' %}

<div class="testimonial-wrap">
  <div class="testimonial-card" id="testimonialCard">
    <div class="testimonial-top">
      <div class="testimonial-arrows">
        <button class="testimonial-arrow" id="prevBtn" aria-label="Previous review">‹</button>
        <button class="testimonial-arrow" id="nextBtn" aria-label="Next review">›</button>
      </div>
    </div>
    <p class="testimonial-text" id="tText">
      "This luxury car perfume has taken over all my cars. My wife loves it, my friends love it, even my neighbours keep asking me what the hell I am using. Thank you so much Nerve Mist Spray!!!"
    </p>
    <p class="testimonial-author" id="tAuthor">– Inder Sahani</p>
    <p class="testimonial-stars" id="tStars">★★★★★</p>
  </div>
</div>


<div class="trust-row">
  <div class="trust-item">
    <!-- you can swap this with an SVG/icon -->
    <span class="trust-icon">📦</span>
    <p>Fast & Secured<br>SHIPPING</p>
  </div>
  <div class="trust-item">
    <span class="trust-icon">⚡</span>
    <p>Order dispatched in 24 hours. </p>
  </div>
  <div class="trust-item">
    <span class="trust-icon">⭐</span>
    <p>Trusted by 5000+ car owners <br></p>
  </div>
</div>

<div class="custom-product-tabs">
  <div class="custom-tab">
    <div class="custom-tab-title">Ingredients</div>
    <div class="custom-tab-body">
      Fragrance Oils, Essential Oils, Water, Naturally Occurring Preservatives
    </div>
  </div>

  <div class="custom-tab">
    <div class="custom-tab-title">Contents</div>
    <div class="custom-tab-body">
      1 x Nerve Mist Spray Luxury Car Perfume : 30ML<br>
      1 x Diffuser Tag (Worth Rs. 99)
    </div>
  </div>
</div>

{% comment %} <div class="lm-feature-image_eJE7bX"><img src="//bombaymusk.com/cdn/shop/files/Untitled_design_7_800x.png?v=1748388970"></div> {% endcomment %}
<div class="lm-feature-image_NtctPc"><img src="https://cdn.shopify.com/s/files/1/0672/8302/6119/files/WhatsApp_Image_2025-11-04_at_5.55.26_PM.jpg?v=1762323532"></div>

<style>

    .custom-product-tabs {
    margin: 0 auto;
    border-top: 1px solid #e0e0e0;
  }

  .custom-tab {
    border-bottom: 1px solid #e5e5e5;
  }

  .custom-tab-title {
    font-weight: 600;
    font-size: 14px;
    color: #111;
    cursor: pointer;
    padding: 15px 0;
    position: relative;
  }

  .custom-tab-title::after {
    content: "▼";
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
    font-size: 14px;
    color: #555;
  }

  .custom-tab.open .custom-tab-title::after {
    transform: rotate(-180deg);
  }

  .custom-tab-body {
    display: none;
    padding: 10px 0 15px 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }

  .custom-tab.open .custom-tab-body {
    display: block;
  }
.lm-feature-image_eJE7bX img {
    width: 100%;
}
  .trust-row {
  display: flex;
  gap: 16px;
 
  align-items: flex-start;
  margin: 30px 0 20px;
  text-align: center;
  flex-wrap: wrap;
}



.trust-icon {
  font-size: 38px;
  display: block;
  margin-bottom: 8px;
}

h2.jdgm-rev-widg__title {
    color: #fff;
}
.trust-item p {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .trust-row {
    gap: 0px;
  }
  .trust-item p {
    font-size: 10.5px;
  }
}

    .testimonial-wrap {
    margin: 0;
    }
    .testimonial-card {
    background: #000;
    color: #fff;
    border-radius: 12px;
    padding: 22px 22px 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    box-sizing: border-box;
    }

    .testimonial-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 10px;
    }
    p#tText {
    margin: 0;
    font-size: 12px;
    }

    .testimonial-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    }

    .testimonial-arrows {
    display: flex;
    gap: 10px;
    }

    .testimonial-arrow {
    width: 30px;
    height: 30px;
    border-radius: 999px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.15s ease;
    }
    .testimonial-arrow:hover {
    background: #fff;
    color: #000;
    }

    .testimonial-text {
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 0 0 6px;
    }

    .testimonial-author {
    font-size: 0.8rem;
    margin: 0 0 4px;
    opacity: 0.9;
    }

    .testimonial-stars {
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin: 0;
    }

@media (max-width: 520px) {
    .testimonial-card {
    border-radius: 0;
    }
    .testimonial-title {
    font-size: 1.05rem;
    }
    .testimonial-text {
    font-size: 0.85rem;
    }
    .trust-row {
    justify-content: space-between;
    align-items: center;
    }
}

</style>


<script>
  const testimonials = [
    {
      text: `"This is a value for money product, smells good and nice, I tried 2 of them, Cool water and Oud both are great."`,
      author: "– Vivek Sharma",
      stars: "★★★★★"
    },
    {
      text: `"Vedic range is good, I added this to my mother's car and she loved the fragrance."`,
      author: "– Deepti",
      stars: "★★★★★"
    },
    {
      text: `"Long lasting and premium look and feel. Highly recommended."`,
      author: "– Shraddha K.",
      stars: "★★★★☆"
    }
  ];

  const tText = document.getElementById("tText");
  const tAuthor = document.getElementById("tAuthor");
  const tStars = document.getElementById("tStars");

  let current = 0;

  function renderSlide(i) {
    const item = testimonials[i];
    tText.textContent = item.text;
    tAuthor.textContent = item.author;
    tStars.textContent = item.stars;
  }

  document.getElementById("prevBtn").addEventListener("click", () => {
    current = (current - 1 + testimonials.length) % testimonials.length;
    renderSlide(current);
  });

  document.getElementById("nextBtn").addEventListener("click", () => {
    current = (current + 1) % testimonials.length;
    renderSlide(current);
  });

 
  renderSlide(current);

  
  document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('.custom-tab-title');
    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        const parent = tab.parentElement;
        parent.classList.toggle('open');
      });
    });
  });
</script>




{% endif %}
